* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1170px;
    margin: auto;
}

header {
    height: 60px;
    background-color: black;
    color: white;
}

header h1 {
    line-height: 60px;
}

main {
    background-color: #555;
    min-height: calc(100vh - 60px);
    padding: 50px 0;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 250px;
    padding: 10px;
    background-color: black;
    color: white;
    margin: 20px;
}

.card img {
    max-width: 100%;
}

.year, .author {
    display: block;
}
